*.dat
auto-save-list/*
elpa/*
emacs.local
emacs.local-overrides
/projectile-*
/projectile.*
/session.*
recentf
recentf~
temp/*
url/*
/bookmarks
/.package-init.done
config/**/*.elc
package23.x/package.elc
/transient
